<section class="h-screen py-1 px-8">
  <div class="h-full text-gray-800 ">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0">
        <%= image_tag("pondhockey.jpg",
            :class => "w-full rounded-md",
             :alt => "Register Image") %>
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0 text-center">
      <h2 class="text-4xl md:text-4xl xl:text-4xl tracking-center">Register an Account</h2>
        <%= render 'shared/forms/registration_form' %>
      </div>
    </div>
  </div>
</section>
