@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";

body {
    color: $color-black;
    //background-color: #fff;
    font-family: $font-primary;
    line-height: 1.7;
    box-sizing: border-box;
  }

  strong{
    font-weight: bold;
  }

  h1,h2,h3,h4,h5 {
    color: $color-primary;
    font-family: $font-primary;
  }
